---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <section class="container mx-auto text-center py-8">
    <div class="mb-8">
      <h1 class="text-[48px] font-extrabold text-red-500">Hetu</h1>
      <h2 class="text-3xl font-semibold text-gray-800">Tu Kem Badhathi Alag Chu?</h2>
    </div>

    <div class="flex justify-center">
      <div class="swiper-wrapper" style="margin-left: 10px; margin-right: 10px;">
        <div class="p-6 space-y-6 relative group rounded-xl swiper-slide h-full self-stretch bg-gradient-to-r from-pink-500 via-purple-600 to-red-500 shadow-2xl">
          <div class="absolute top-0 left-0 w-full gap-10 h-full bg-heart-pattern bg-cover bg-center opacity-30 rounded-xl"></div>
          <Card Lines="Jyare first time tane joyi ... Tyare mane tara ma kaik alag dekhayu je biji koi girl ma nathi... Tane yad che ne pelo video library vado jema ame badha masti karta ta ne tame khali bhanta ta .. hetu tu alag j 6u .. etle j mane gamu 6u" />
          <Card Lines="P6i jyare first time tame mara par angry thaya and badho gusso utaryo devanshi no nd het no... Pn te khali ne khali mane kidhu .. e hato taro trust mara par.. tane khabar hati ke het nathi saro and hu ena sathe rahu 6u pn e time par te mane ek pn var evu natu kidhu ke tu alag thai ja emathi ke ena jode rehvanu band kari de ane tame mane em pn nathi kidhu ke atyare aapda jode je pn vat thai e koine keto nai cause tane khbar hati ke hu koine nathi kehvano ... Agar tara jagya e koi biju hot to 100% mane em j ket ke tare ena jode vat nai karvani or ena jode friendship todi de.. etle j tu badha thi alag 6u and etle j tu Mane gamu 6u" />
          <Card Lines="Jyare first time aapde kankariya gaya nd main tamaro hath pakdi ne rakhyo to and first time tame mane pu6yu ke tu su feel kare che ... Tyare main tane first time mara dil ni badhi j vat Kari... Tane khabar hati ke tare aama nathi padvu and tarathi possible nathi... Still te mane block karvana badle mane samjvano try karyo... Etle j tu Mane gamu 6u" />
          <Card Lines="jyare first time tame koi ne pn nai bss mane ekla ne first time collage farvana bahane lai gaya ane first time Tamara period ni vat Kari ane kidhu ke tamare holi nathi ramvi ... Taro aa trust mara par .. etle j tu Mane gamu 6u" />
          <Card Lines="First time same thi 2nd sem ni university ni exam (gujarat university) na garden ma first time love express karta kahyu ke aapda hand to hand no ek snap le ... Hayy etle j tu Mari favourite 6u" />
          <Card Lines="Tane yad che ek var aapde university malvano plan hato nd p6i mare achanak jiju jode bahar javano plan thayo... Tamare mara jode time spend karvo to pn mari sharmili direct boli sake em nathi tohh p6i mara par gusso Karine kidhu ke tu Kem jato rhyo... Gusso Karine pn love j batai rahi 6u ne pagal ... Etle j tu badha thi alag 6u" />
          <Card Lines="First time jyare vyom and het banne jama e bhega thai ne Tamara mann ma mara mate baujj badhu kharab nakhi didhu tu with proof but still mara ek var naa padva thi tame e badha proof ne khota kahine khali mari vat mani... I don't think ke koi biji girl hot to aavu Kai kare... Pn aato Maru dhinglu che ne ... Etle j tu badha thi alag 6u nd etle j tu Mane gamu 6u 🥰" />
          <Card Lines="- Tu mari evi pyari wifey 6u jene kyarey mara jode same thi koi vastu mangvani zidd nathi kari... Etle j tu badha thi alag 6u (btw tu mangis e mane baujj gamse nd hu tamari darek wish puri karva ready 6u queen but aa pn ek point che je tamne alag kare che).. etle tu Mari favourite 6u 🥰" />
          <Card Lines="- Aunty ne badhi vat karva vadi .. khali mara mate thaine khotu boli sake che ... Etle j mane tu game che nd" />
          <Card Lines="Biji girls je vate vate emna boyfriends na mobile check kare or emna par doubt kare .. jyare Maru dhingla ne trust che ke hu eno trust kyarey nai todu etle j tu badha thi alag 6u ... Etle j tu Mane gamu 6u" />
          <Card Lines="Tu mari e pyari chokri 6u je mara darek sukh and dukh ma sathe ubhi 6u... Jyare mara jode koi j natu tyare khali ne khali Maru dhinglu hatu... Tamne yad che sem 3 jyare badha j lunch karva mate niche gaya ta bss khali hu j upar betho to tyare Maru dhinglu e badha jode niche jaine enjoy karva na badle mara jode besi hati... Etle j mara pyara gol matol tu badha thi alag 6u 🥰" />
          <Card Lines="Haji em to kehva jais to baujj badhu che pn badhu aaje Kai dais to mara dhingla ne manava mate p6i tohh kaik karvu padse ne (yesh yesh Maru pyaru angry bird jo 6u)" />
          <Card Lines="Have khbr padi Kem tu Mane sauthi vadhare gamu 6u and Kem tame badha thi alag 6o 🥰" />
          <Card Lines="- I love you infinityyyyyyy wifeyyyyyy 😘🥰" />
        </div>
      </div>
    </div>
  </section>
</Layout>

<script is:inline>
	
document.querySelectorAll('.card-content').forEach(card => {
card.addEventListener('mouseover', function() {
    card.style.transform = 'scale(1.05)';
    card.style.boxShadow = '0 12px 24px rgba(0, 0, 0, 0.15)';
});
card.addEventListener('mouseout', function() {
    card.style.transform = 'scale(1)';
    card.style.boxShadow = '0 8px 16px rgba(0, 0, 0, 0.1)';
});
});

</script>